<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marshall.diatrack">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
    android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MainActivity_bar"
            android:label="@string/title_activity_main_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MealOptionsActivity" />
        <activity android:name=".GlycoseActivity"></activity>
        <activity
            android:name=".dummy.Test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Day"
            android:label="@string/title_activity_day"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".History"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dummy.Day"
            android:label="@string/title_activity_day"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dummy.History"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dummy.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Meal"></activity>
    </application>

</manifest>